extends ../layouts/default

block head
    base(href="/simulation")

block content
        div(ng-app="belsim")
            belsim-simulation Loading...

block js
    script(src="/build/polyfills.js")
    script(src="/build/vendor.js")
    script(src="/build/app.js")
