<md-input-container class="taxes__input">
  <input mdInput type="number" min="0.00" step="0.01" #nds placeholder="{{'Belsim.Tabs.Taxes.Nds'| translate}}" value="0.00">
</md-input-container>

<md-input-container class="taxes__input">
  <input mdInput type="number" min="0.00" step="0.01" #revenue placeholder="{{'Belsim.Tabs.Taxes.Revenue'| translate}}" value="0.00">
</md-input-container>

<md-input-container class="taxes__input">
  <input mdInput type="number" min="0.00" step="0.01" #profit placeholder="{{'Belsim.Tabs.Taxes.Profit'| translate}}" value="0.00">
</md-input-container>

<md-input-container class="taxes__input">
  <input mdInput type="number" min="0.00" step="0.01" #enterpriseProfit placeholder="{{'Belsim.Tabs.Taxes.EnterpriseProfit'| translate}}" value="0.00">
</md-input-container>

<md-input-container class="taxes__input">
  <input mdInput type="number" min="0.00" step="0.01" #socialSecurityFund placeholder="{{'Belsim.Tabs.Taxes.SocialSecurityFund'| translate}}" value="0.00">
</md-input-container>

<md-input-container class="taxes__input">
  <input mdInput type="number" min="0.00" step="0.01" #wage placeholder="{{'Belsim.Tabs.Taxes.Wage'| translate}}" value="0.00">
</md-input-container>

<md-input-container class="taxes__input">
  <input mdInput type="number" min="0.00" step="0.01" #propertyPerYear placeholder="{{'Belsim.Tabs.Taxes.PropertyPerYear'| translate}}" value="0.00">
</md-input-container>

<md-input-container class="taxes__input">
  <input mdInput type="number" min="0.00" step="0.01" #ecology placeholder="{{'Belsim.Tabs.Taxes.Ecology'| translate}}" value="0.00">
</md-input-container>

<md-input-container class="taxes__input">
  <input mdInput type="number" min="0.00" step="0.01" #ground placeholder="{{'Belsim.Tabs.Taxes.Ground'| translate}}" value="0.00">
</md-input-container>