<div class="belsim-simulation">
	<md-toolbar class="belsim-simulation__toolbar">BelSim</md-toolbar>
	<md-sidenav-container class="belsim-simulation__sidenav-container">
		<md-sidenav #sidenav mode="side" opened="true" class="belsim-simulation__sidenav">
			<div class="belsim-simulation__content belsim-simulation__sidenav-content">
				<button routerLink="/mock1" routerLinkActive="belsim-simulation__sidenav-item--active" md-button>Products</button>
				<button routerLink="/mock2" routerLinkActive="belsim-simulation__sidenav-item--active" md-button>Resources</button>
				<button routerLink="/dataModel" routerLinkActive="belsim-simulation__sidenav-item--active" md-button>Model data</button>
				<button routerLink="/simulationResults" routerLinkActive="belsim-simulation__sidenav-item--active" md-button>Simulation results</button>
			</div>
		</md-sidenav>

		<router-outlet></router-outlet>
	</md-sidenav-container>
</div>