<form class="production" onSubmit="return false;">
	<md-input-container class="production__input">
		<input mdInput type="number" step="any" min="0" max="360" placeholder="Интервал планирования (дн.)" value="{{model.planningInterval}}">
	</md-input-container>

	<br>

	<md-input-container class="production__input">
		<input mdInput type="number" step="any" min="0" max="360" placeholder="Количество интервалов планирования (дн.)" value="{{model.planningIntervalsCount}}">
	</md-input-container>

	<br>

	<div class="production__cycle">Производственный цикл</div>

	<table class="production__input" cellspacing="0">
		<tr *ngFor="let cycleComponent of productionCycle;let i = index">
			<td>
				<md-checkbox [checked]="cycleComponent.isChecked" (change)="selectCycle($event, cycleComponent)"></md-checkbox>
			</td>
			<td>
				<md-select class="production__input" [(ngModel)]="cycleComponent.value" (change)="productChanged($event, cycleComponent)"
				 placeholder="Наименование продукта" name="md-select-production-{{i}}">
					<md-option *ngFor="let product of products" [value]="product.value">
						{{ product.viewValue }}
					</md-option>
				</md-select>
			</td>
			<td>
				<md-input-container class="production__input">
					<input mdInput type="number" step="any" min="0" max="360" placeholder="Длительность цикла (дн.)" value="{{cycleComponent.duration}}">
				</md-input-container>
			</td>
		</tr>
	</table>
</form>