<form class="production" onSubmit="return false;">
	<md-input-container class="production__input">
		<input mdInput type="number" step="any" min="0" max="360" placeholder="{{'Belsim.Tabs.Production.PlanningInterval' | translate}}"
		 value="{{production.planningInterval}}" (change)="changePlanningInterval($event.target.value)">
	</md-input-container>

	<br>

	<md-input-container class="production__input">
		<input mdInput type="number" step="any" min="0" max="360" placeholder="{{'Belsim.Tabs.Production.NumberOfPlanningIntervals' | translate}}"
		 value="{{production.planningIntervalsCount}}" (change)="changePlanningIntervalsCount($event.target.value)">
	</md-input-container>

	<br>

	<div class="production__cycle">{{'Belsim.Tabs.Production.ProductionCycle' | translate}}</div>

	<table class="production__input" cellspacing="0">
		<tr *ngFor="let productionCycle of production.cycle;let key = index">
			<td>
				<md-checkbox [checked]="productionCycle.isChecked" (change)="selectCycle($event, productionCycle)"></md-checkbox>
			</td>
			<td>
				<md-select class="production__input" [(ngModel)]="productionCycle.product.id" (change)="productChanged($event.value, productionCycle)"
				 placeholder="{{'Belsim.Tabs.Production.ProductName' | translate}}" name="md-select-production-{{key}}">
					<md-option *ngFor="let product of products" [value]="product.id">
						{{ product.name }}
					</md-option>
				</md-select>
			</td>
			<td>
				<md-input-container class="production__input">
					<input mdInput type="number" step="any" min="0" max="360" placeholder="{{'Belsim.Tabs.Production.CycleTime' | translate}}"
					 value="{{productionCycle.quantity}}">
				</md-input-container>
			</td>
		</tr>
	</table>
</form>