<div class="belsim-data-model__content">
    <md-sidenav-container class="belsim-data-model__sidenav-container">
        <md-tab-group>
            <md-tab label="{{'Belsim.Tabs.Production' | translate}}">
                <div class="belsim-data-model__tab-content">
                    <belsim-production [production]="dataModel.production" [products]="products" (onCycleChange)="openExtendedSidenav($event)"></belsim-production>
                </div>
            </md-tab>
            <md-tab *ngFor="let tab of tabs" label="{{tab.title}}">
                <div class="belsim-data-model__tab-content">
                    <div #dynamic></div>
                </div>
            </md-tab>
        </md-tab-group>

        <md-sidenav #sidenav2 mode="side" opened="false" align="end" class="belsim-data-model__extended-sidenav">
            <div class="belsim-data-model__content belsim-data-model__extended-sidenav-content">
                <div class="belsim-data-model__resources-header">Расход ресурсов (ед.рес./ед.прод.)</div>
                <md-input-container *ngFor="let resource of resources" class="belsim-data-model__resource-input">
                    <input mdInput type="number" step="any" placeholder="{{resource.name}}" value="{{resource.consumption}}">
                </md-input-container>
            </div>
        </md-sidenav>
    </md-sidenav-container>
</div>