<md-input-container class="principalCash__input">
  <input mdInput type="number" min="0.00" step="0.01" #replacementСost placeholder="{{'Belsim.Tabs.PrincipalСash.ReplacementCost'| translate}}" value="0.00">
</md-input-container>

<md-input-container class="principalCash__input">
  <input mdInput type="number" min="0.0000" step="0.0001" #coefWear placeholder="{{'Belsim.Tabs.PrincipalСash.CoefWear'|translate}}" value="0.0000">
</md-input-container>

<md-input-container class="principalCash__input">
  <input mdInput type="number" min="0.0000" step="0.0001" #deprecationRate placeholder="{{'Belsim.Tabs.PrincipalСash.DeprecationRate'| translate}}" value="0.0000">
</md-input-container>

<md-input-container class="principalCash__input">
  <input mdInput type="number" min="0.0000" step="0.0001" #coefReappraisal placeholder="{{'Belsim.Tabs.PrincipalСash.CoefReappraisal'| translate}}" value="0.0000">
</md-input-container>