/*.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}*/

.output-data__chart {
  padding-top: 25px;
}

.output-data__choose-parameter {
  padding: 25px;
  width: 500px;
}

.output-data__chart-line {
  stroke: black;
}

.output-data__chart-line-dotted {
  stroke-dasharray: 3,3;
}

.output-data__chart-median > rect {
  stroke-width: 0.5;
  stroke: black;
  fill: none;
}